<% layout('layouts/boilerplate') %>
<body>
<div class="container m-4 text-center">

   
    <div class="text-center">
        <img src="<%=list.image %>" alt="image" class="img-fluid rounded" style="height: 60vh;">
    </div>
    <div class="mt-4">
        <h1 class="text-center text-info"><%=list.title %></h1>
        <p class="h4">Price: <span class="text-success">&#8377;<%=list.price %></span></p>
        <p class="h5">Description: <%=list.description %></p>
    </div>
    <div class="d-flex justify-content-evenly mt-4">
        <a href="/listing/<%=list._id%>/edit" class="btn btn-primary">Edit Page</a>
        <a href="/listing/<%=list._id%>/review" class="btn btn-primary">Edit Add Review</a>
        <form action="/listing?_method=delete" method="post">
            <input type="hidden" name="id" value="<%=list._id%>">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
    <hr>
    <div class="col-12 ml-5 p-5">
        <h4 class="text-center">All Reviews </h4>
        
        <% if (list.reviews && list.reviews.length > 0) { %>
            <div class="d-flex flex-wrap">
            <% list.reviews.forEach(review => { %>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted"><%= review.rating %></h6>
                        <p class="card-text"><%= review.comment %></p>
                    </div>
                </div>
            <% }); %>
            </div>
        <% } else { %>
            <p>No reviews yet.</p>
        <% } %>
        
            
        
    </div>
</div>
</body>